/* Course: SENG 513 
   Date: OCT 18, 2023 
   Assignment 2 
   Name: Jia-Gang Chang 
   UCID: 30046735  */

body {
  font-family: Arial, sans-serif; /* Choose a suitable font family */
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 10px;
  color: white;
}

button:active {
  color: rgba(255, 255, 255, 0.5);
}
button:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* InPlay */
.gameScene {
  display: none;
  position: relative;
  width: 300px;
  height: 600px;
}

.paddle {
  position: absolute;
  width: 50px;
  height: 70px;
}

.paddle img {
  width: 50px;
}

#topPaddle {
  top: 100px;
}

#bottomPaddle {
  bottom: 100px;
}
.swinging {
  background-color: red;
}
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
}

.score {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
}

h1 {
  color: white;
}

.controls {
  visibility: hidden;
  background-image: url(./assets/keyboard.png);
  background-size: 300px;
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
}

/* GameOver */
.gameOver {
  position: relative;
  display: block;
  width: 300px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startGame {
  font-size: 1rem;
}

.instructions {
  color: cadetblue;
  font-size: 0.5rem;
  position: absolute;
  bottom: 4px;
  text-align: center;
}

.movement {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
