body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
}

.pong {
  position: relative;
  width: 400px;
  height: 800px;
  background-color: #222;
}

.centerLine {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.paddle {
  position: absolute;
  width: 80px;
  height: 100px;
  /* background-color: white; */
}

#topPaddle {
  top: 100px;
}

#bottomPaddle {
  bottom: 100px;
}
.swinging {
  background-color: red;
}
.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.score {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
